<mat-toolbar color="primary">
    <div class="credit">
        <span>Desenvolvido com <mat-icon class="favorite">favorite</mat-icon> por Eduardo José</span>
    </div>
    <div class="social">
        <a href="https://github.com/Duduxs" target="_blank"><mat-icon>code</mat-icon></a>
        <a href="https://www.linkedin.com/in/eduarddojose/" target="_blank"><mat-icon>linkedin</mat-icon></a>
        <a href="https://duduxs.github.io/portfolio/" target="_blank"><mat-icon>web</mat-icon></a>
    </div>
</mat-toolbar>