// @keyframes float {
// 	0% {
// 		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
// 		transform: translatey(0px);
// 	}
// 	50% {
// 		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
// 		transform: translatey(-20px);
// 	}
// 	100% {
// 		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
// 		transform: translatey(0px);
// 	}
// }

.content {
  display: flex;
  height: 90%;
  .anime-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;

    .seasonAnimes,
    .lastAnimes {
      height: 300px;
      background-color: #bc92f0;
      width: 900px;
      border-radius: 10px;
      animation: float 6s ease-in-out infinite;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.048);
    }
  }
  .user-content {
    background-color: blue;
    flex: 1;
    align-self: center;
    .users{
        height: 600px;
        background-color: #bc92f0;
        width: 350px;
        border-radius: 10px;
        animation: float 6s ease-in-out infinite;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.048);
        margin-left: 150px;
    }
  }
}


